<div class="container mt-5 mb-5">
<%= form_for :post, url: '/posts' do |f| %>
<% @post.errors.full_messages.each do |message| %>
<div class="mt-5">
<%= message %>
</div>
<% end %>
<%= f.label "会社名", :class =>"mt-5" %>
<%= f.text_field :name, :class => "form-control" %>
<%= f.label "画像" %>
<%= f.file_field :image, :class => "form-control-file" %>
<div>
<%= f.label "カテゴリー" %>
</div>
<div>
<div><%= f.radio_button :category, "1" %>とがった事業やカルチャーのスタートアップ</div>
<div><%= f.radio_button :category, "2" %>急成長中のミドルベンチャー</div>
<div><%= f.radio_button :category, "3" %>クリエイティブを活かせるメガベンチャー</div>
<div><%= f.radio_button :category, "4" %>技術力が強みのテックカンパニー</div>
<div><%= f.radio_button :category, "5" %>事業規模が大きい大手企業</div>
</div>
<div>
<%= f.label "総合評価" %>
</div>
<div class="star-rating">
<%= f.radio_button :rating, "1", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "2", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "3", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "4", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "5", :class => "star-rating__item" %><i></i>
</div>
<div>
<%= f.label "インターンをここに決めた理由と入ってからのギャップ" %>
<%= f.text_area :content, :class => "form-control" %>
</div>
<%= f.label "やっていた仕事と学べたこと" %>
<%= f.text_area :job, :class => "form-control" %>
<%= f.label "おすすめポイント" %>
<%= f.text_area :recommend, :class => "form-control" %>
<%= f.submit value:"投稿", :class => "btn btn-info mt-3" %>
<% end %>
</div>