<%= form_for :post, url: '/posts' do |f| %>
<% @post.errors.full_messages.each do |message| %>
<div>
<%= message %>
</div>
<% end %>
<%= f.label "会社名" %>
<%= f.text_field :name, :class => "form-control" %>
<%= f.label "画像" %>
<%= f.file_field :image, :class => "form-control-file" %>
<div>
<%= f.label "カテゴリー" %>
</div>
<div>
<%= f.radio_button :category, "1" %>
<%= f.radio_button :category, "2" %>
<%= f.radio_button :category, "3" %>
<%= f.radio_button :category, "4" %>
<%= f.radio_button :category, "5" %>
</div>
<div>
<%= f.label "総合評価" %>
</div>
<div class="star-rating">
<%= f.radio_button :rating, "1", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "2", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "3", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "4", :class => "star-rating__item" %><i></i>
<%= f.radio_button :rating, "5", :class => "star-rating__item" %><i></i>
</div>
<div>
<%= f.label "インターンをここに決めた理由と入ってからのギャップ" %>
<%= f.text_area :content, :class => "form-control" %>
</div>
<%= f.label "やっていた仕事と学べたこと" %>
<%= f.text_area :job, :class => "form-control" %>
<%= f.label "おすすめポイント" %>
<%= f.text_area :recommend, :class => "form-control" %>
<%= f.submit value:"投稿", :class => "btn btn-info" %>
<% end %>