<%= form_for :post, url: '/posts' do |f| %>
<% @post.errors.full_messages.each do |message| %>
<div>
<%= message %>
</div>
<% end %>
<%= f.label "会社名" %>
<%= f.text_field :name, :class => "form-control" %>
<%= f.label "画像" %>
<%= f.file_field :image, :class => "form-control-file" %>
<%= f.label "インターンをここに決めた理由とギャップ" %>
<%= f.text_area :content, :class => "form-control" %>
<%= f.label "やっていた仕事と学べたこと" %>
<%= f.text_area :job, :class => "form-control" %>
<%= f.label "おすすめポイント" %>
<%= f.text_area :recommend, :class => "form-control" %>
<%= f.submit value:"投稿", :class => "btn btn-info" %>
<% end %>