<div class="container">
  <div class="jumbotron bg-light users-show__jumbotron">
    <div class="row">
      <div class="col-5">
        <h1><%= @post.name %></h1>
      </div>
      <div class="col-7">
        <%= image_tag @post.image.url, :class => "posts-show__image" %>
      </div>
    </div>
  </div>
  <div class="alert">
  <p>投稿者 <%= link_to @user.name, "/users/#{@user.id}", :class => "text-dark" %></p>
  <p><% if Like.find_by(user_id:@current_user.id, post_id: @post.id) %>
  お気に入り<%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
  <span class="fa fa-star like-btn-unlike"></span>
  <% end %>
  <% else %>
  お気に入り<%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
  <span class="fa fa-star like-btn"></span>
  <% end %>
  <% end %>
  <%= @likes_count %></p>
  </div>
  <p class="alert bg-light">レビュワーの職種</p>
  <div class="alert">
    <%= @post.job %>
  </div>
  <p class="alert bg-light">感想</p>
  <div class="alert">
    <%= @post.content %>
  </div>
  <p class="alert bg-light">こんな人におすすめ</p>
  <div class="alert">
    <%= @post.recommend%>
  </div>
  <% if @post.user_id == @current_user.id %>
  <%= link_to '編集', "/posts/#{@post.id}/edit", :class => "btn btn-info" %>
  <% end %>
  <%= link_to '戻る', "/", :class => "btn btn-info" %>
</div>