<div class="container">
  <div class="jumbotron bg-light users-show__jumbotron">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h1><%= @post.name %></h1>
        <% @post.rating.times do%>
        <span><img src="data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=" class="posts-show__star" ></span>
        <% end %>
      </div>
      <div class="col-12 col-sm-6">
        <%= image_tag @post.image.url, :class => "posts-show__image" %>
      </div>
    </div>
  </div>
  <div class="alert">
  <div class="posts-show__contributor">
  <span>投稿者</span>
  <a href=<%= "/users/#{@user.id}" %>><%= image_tag @user.image.url, :class => "posts-show__user" %></a>
  </div>
  <p><% if Like.find_by(user_id:@current_user.id, post_id: @post.id) %>
  お気に入り<%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
  <span class="fa fa-heart like-btn-unlike"></span>
  <% end %>
  <% else %>
  お気に入り<%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
  <span class="fa fa-heart like-btn"></span>
  <% end %>
  <% end %>
  <%= @likes_count %></p>
  </div>
  <p class="alert bg-light">インターンをここに決めた理由と入ってからのギャップ</p>
  <div class="alert">
    <%= @post.content %>
  </div>
  <p class="alert bg-light">やっていた仕事と学べたこと</p>
  <div class="alert">
    <%= @post.job %>
  </div>
  <p class="alert bg-light">おすすめポイント</p>
  <div class="alert">
    <%= @post.recommend%>
  </div>
  <% if @post.user_id == @current_user.id %>
  <%= link_to '編集', "/posts/#{@post.id}/edit", :class => "btn btn-info" %>
  <% end %>
  <% if @post.user_id == @current_user.id %>
  <%= link_to '削除', "/posts/#{@post.id}", :method => "delete", :class => "btn btn-info" %>
  <% end %>
  <%= link_to '戻る', "/", :class => "btn btn-info" %>
</div>