<!DOCTYPE html>
<html>

<head>
  <title>InternBase</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "InternBase", "/",:class =>"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if @current_user %>
          <li class="nav-item active">
            <%= link_to @current_user.name,"users/#{@current_user.id}",:class => "nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to "投稿", "/posts/new",:class =>"nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログアウト", "/logout",:class =>"nav-link", :method=>"post" %>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", "/signup",:class =>"nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", "/login",:class =>"nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
  <%= yield %>
</body>

</html>
