<!DOCTYPE html>
<html>

<head>
  <title>INTERN BASE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light alert-light fixed-top">
    <%= link_to "INTERN BASE", "/",:class =>"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
          <% if @current_user %>
          <li class="nav-item active">
            <%= link_to "マイページ","/users/#{@current_user.id}",:class => "nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to "新規投稿", "/posts/new",:class =>"nav-link" %>
          </li>
          <li class="nav-item active pull-right">
            <%= link_to "ログアウト", "/logout",:class =>"nav-link", :method=>"post" %>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", "/signup",:class =>"nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", "/login",:class =>"nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <% if flash[:notice] %>
  <div class="alert alert-primary alert-class">
    <%= flash[:notice] %>
  </div>
  <% end %>
  <%= yield %>
  <footer>
  <div class="container text-center">
  <%= link_to "利用規約", "/rules",:class =>"text-dark" %>
  <%= link_to "プライバシーポリシー", "/privacy",:class =>"text-dark" %>
  <%= link_to "お問い合わせ", "/contact",:class =>"text-dark" %>
  <p>&#169; 2018 INTERN BASE All rights reserved.</p>
  </div>
  </footer>
</body>

</html>
